
.mainbox-video{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 7;
}
.video-item{
    width: 25%;
    overflow: hidden;
    box-sizing: border-box;
    padding: 10px;
}

.videoShow-4 .video-item{
    width: 50%;
}
.videoShow-9 .video-item{
    width: 33.3%;
}
.video-item .panel{
    padding: 15px;
    margin: 0;
}
.video-item video{
    width: 100%;
}
.videoShow-4 .video-item video{
    max-height: 300px;
}
.videoShow-9  .video-item video{
    max-height: 180px;
}
.item-name{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #fff;
}

.mainbox{
    display: flex;
    margin-top: 20px;
    z-index: 999;
    position: relative;
}

.mainbox-left{
    flex: 1.5;
}

.mainbox-right{
    flex:1.5;
    margin-left: 20px;
    margin-top: 20px;
}
.left-floor{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 20px;
    margin-right: 20px;
}
.mainbox-left .btn-changeAds{
    margin-bottom: 0!important;
}
.mainbox-curAddress{
    color: #000;
    background: rgba(255,255,255,0.8);
    line-height: 38px;
    height: 38px;
    text-align: center;
    margin: 10px 0;
    width: 80px;
}

.mainbox-right .btn-videoShow,
.left-floor .btn-changeAds{
    background: cadetblue;
    color: #fff;
    border-radius: 4px;
    margin-bottom: 10px;
    display: block;
    width: 80px;
    text-align: center;
    height: 38px;
    line-height: 38px;
    cursor: pointer;
}

.mainbox-right .btn-videoShow:hover,
.mainbox-right .btn-videoShow.active,
.left-floor .btn-changeAds:hover,
.left-floor .btn-changeAds.active{
    color: cadetblue;
    background: #fff;
}