body {
  margin:0px;
  background-color:rgba(245, 245, 245, 1);
  background-image:none;
  position:relative;
  left:0px;
  width:1460px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u30532_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1460px;
  height:1393px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30532 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:1460px;
  height:1393px;
  display:flex;
}
#u30532 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u30532_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u30533_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:1442px;
  height:78px;
}
#u30533 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:0px;
  width:1440px;
  height:76px;
  display:flex;
}
#u30533 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u30533_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u30534_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:1379px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30534 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:0px;
  width:80px;
  height:1379px;
  display:flex;
}
#u30534 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u30534_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u30535_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1360px;
  height:40px;
}
#u30535 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:80px;
  width:1360px;
  height:40px;
  display:flex;
}
#u30535 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u30535_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u30536_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1360px;
  height:1249px;
}
#u30536 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:125px;
  width:1360px;
  height:1249px;
  display:flex;
}
#u30536 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u30536_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u30537_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:76px;
}
#u30537 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:76px;
  display:flex;
}
#u30537 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u30537_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u30538_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u30538 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:92px;
  width:56px;
  height:16px;
  display:flex;
  font-family:'Arial Negreta', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u30538 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u30538_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u30539_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u30539 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:92px;
  width:9px;
  height:16px;
  display:flex;
  font-family:'Arial Negreta', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u30539 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u30539_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u30540 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u30541_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#399DEE;
}
#u30541 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:92px;
  width:56px;
  height:16px;
  display:flex;
  font-family:'Arial Negreta', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#399DEE;
}
#u30541 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u30541_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u30542_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#399DEE;
}
#u30542 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:92px;
  width:9px;
  height:16px;
  display:flex;
  font-family:'Arial Negreta', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#399DEE;
}
#u30542 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u30542_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u30543_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30543 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:231px;
  width:200px;
  height:16px;
  display:flex;
}
#u30543 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u30543_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u30544 label {
  left:0px;
  width:100%;
}
#u30544_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u30544 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:231px;
  width:100px;
  height:16px;
  display:flex;
}
#u30544 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u30544_img.selected {
}
#u30544.selected {
}
#u30544_img.disabled {
}
#u30544.disabled {
}
#u30544_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u30544_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u30545 label {
  left:0px;
  width:100%;
}
#u30545_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u30545 {
  border-width:0px;
  position:absolute;
  left:606px;
  top:231px;
  width:100px;
  height:16px;
  display:flex;
}
#u30545 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u30545_img.selected {
}
#u30545.selected {
}
#u30545_img.disabled {
}
#u30545.disabled {
}
#u30545_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u30545_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u30546_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30546 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:297px;
  width:196px;
  height:16px;
  display:flex;
}
#u30546 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u30546_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u30547 label {
  left:0px;
  width:100%;
}
#u30547_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u30547 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:297px;
  width:100px;
  height:16px;
  display:flex;
}
#u30547 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u30547_img.selected {
}
#u30547.selected {
}
#u30547_img.disabled {
}
#u30547.disabled {
}
#u30547_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u30547_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u30548 label {
  left:0px;
  width:100%;
}
#u30548_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u30548 {
  border-width:0px;
  position:absolute;
  left:606px;
  top:297px;
  width:100px;
  height:16px;
  display:flex;
}
#u30548 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u30548_img.selected {
}
#u30548.selected {
}
#u30548_img.disabled {
}
#u30548.disabled {
}
#u30548_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u30548_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
