body {
  margin:0px;
  background-color:rgba(245, 245, 245, 1);
  background-image:none;
  position:relative;
  left:-84px;
  width:950px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u28370_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28370 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:36px;
  width:28px;
  height:16px;
  display:flex;
}
#u28370 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28370_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28371_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28371 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:105px;
  width:56px;
  height:16px;
  display:flex;
}
#u28371 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28371_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28372_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28372 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:243px;
  width:56px;
  height:16px;
  display:flex;
}
#u28372 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28372_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28373_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28373 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:174px;
  width:56px;
  height:16px;
  display:flex;
}
#u28373 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28373_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28374_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28374 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:312px;
  width:56px;
  height:16px;
  display:flex;
}
#u28374 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28374_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28375_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28375 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:407px;
  width:28px;
  height:16px;
  display:flex;
}
#u28375 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28375_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28376_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28376 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:545px;
  width:70px;
  height:16px;
  display:flex;
}
#u28376 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28376_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28377_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28377 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:613px;
  width:56px;
  height:16px;
  display:flex;
}
#u28377 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28377_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28378_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28378 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:682px;
  width:56px;
  height:16px;
  display:flex;
}
#u28378 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28378_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28379_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28379 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:476px;
  width:28px;
  height:16px;
  display:flex;
}
#u28379 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28379_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28380_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28380 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:751px;
  width:56px;
  height:16px;
  display:flex;
}
#u28380 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28380_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28381_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28381 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:1003px;
  width:56px;
  height:16px;
  display:flex;
}
#u28381 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28381_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28382_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28382 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:877px;
  width:70px;
  height:16px;
  display:flex;
}
#u28382 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28382_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28383_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28383 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:928px;
  width:28px;
  height:16px;
  display:flex;
}
#u28383 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28383_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28384_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28384 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:1069px;
  width:56px;
  height:16px;
  display:flex;
}
#u28384 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28384_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28385_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28385 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:36px;
  width:42px;
  height:16px;
  display:flex;
}
#u28385 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28385_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28386_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28386 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:928px;
  width:56px;
  height:16px;
  display:flex;
}
#u28386 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28386_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28387_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28387 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:928px;
  width:56px;
  height:16px;
  display:flex;
}
#u28387 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28387_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28388_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28388 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:613px;
  width:56px;
  height:16px;
  display:flex;
}
#u28388 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28388_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28389_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28389 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:613px;
  width:56px;
  height:16px;
  display:flex;
}
#u28389 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28389_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28390_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28390 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:361px;
  width:56px;
  height:16px;
  display:flex;
}
#u28390 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28390_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28391_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28391 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:361px;
  width:56px;
  height:16px;
  display:flex;
}
#u28391 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28391_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28392_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28392 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:361px;
  width:56px;
  height:16px;
  display:flex;
}
#u28392 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28392_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28393_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28393 {
  border-width:0px;
  position:absolute;
  left:479px;
  top:361px;
  width:56px;
  height:16px;
  display:flex;
}
#u28393 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28393_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28394_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28394 {
  border-width:0px;
  position:absolute;
  left:602px;
  top:361px;
  width:56px;
  height:16px;
  display:flex;
}
#u28394 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28394_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28395_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28395 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:312px;
  width:56px;
  height:16px;
  display:flex;
}
#u28395 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28395_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28396_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28396 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:312px;
  width:84px;
  height:16px;
  display:flex;
}
#u28396 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28396_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28397_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28397 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:838px;
  width:28px;
  height:16px;
  display:flex;
}
#u28397 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28397_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28398_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28398 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:838px;
  width:56px;
  height:16px;
  display:flex;
}
#u28398 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28398_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28399_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28399 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:838px;
  width:56px;
  height:16px;
  display:flex;
}
#u28399 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28399_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28400_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28400 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:838px;
  width:56px;
  height:16px;
  display:flex;
}
#u28400 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28400_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28401_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28401 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:407px;
  width:56px;
  height:16px;
  display:flex;
}
#u28401 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28401_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28402_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28402 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:1003px;
  width:56px;
  height:16px;
  display:flex;
}
#u28402 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28402_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28403_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28403 {
  border-width:0px;
  position:absolute;
  left:602px;
  top:1003px;
  width:56px;
  height:16px;
  display:flex;
}
#u28403 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28403_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28404_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28404 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:1003px;
  width:56px;
  height:16px;
  display:flex;
}
#u28404 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28404_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28405_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28405 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:1003px;
  width:56px;
  height:16px;
  display:flex;
}
#u28405 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28405_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28406_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28406 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:798px;
  width:42px;
  height:16px;
  display:flex;
}
#u28406 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28406_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28407_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28407 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:798px;
  width:70px;
  height:16px;
  display:flex;
}
#u28407 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28407_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28408_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28408 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:798px;
  width:84px;
  height:16px;
  display:flex;
}
#u28408 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28408_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28409_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28409 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:243px;
  width:56px;
  height:16px;
  display:flex;
}
#u28409 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28409_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28410_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28410 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:243px;
  width:56px;
  height:16px;
  display:flex;
}
#u28410 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28410_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28411_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28411 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:751px;
  width:56px;
  height:16px;
  display:flex;
}
#u28411 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28411_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28412_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28412 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:105px;
  width:56px;
  height:16px;
  display:flex;
}
#u28412 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28412_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28413_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28413 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:105px;
  width:56px;
  height:16px;
  display:flex;
}
#u28413 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28413_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28414_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28414 {
  border-width:0px;
  position:absolute;
  left:479px;
  top:105px;
  width:70px;
  height:16px;
  display:flex;
}
#u28414 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28414_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28415_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28415 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:105px;
  width:84px;
  height:16px;
  display:flex;
}
#u28415 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28415_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28416_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28416 {
  border-width:0px;
  position:absolute;
  left:701px;
  top:105px;
  width:84px;
  height:16px;
  display:flex;
}
#u28416 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28416_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28417_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28417 {
  border-width:0px;
  position:absolute;
  left:824px;
  top:105px;
  width:84px;
  height:16px;
  display:flex;
}
#u28417 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28417_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28418_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28418 {
  border-width:0px;
  position:absolute;
  left:950px;
  top:105px;
  width:84px;
  height:16px;
  display:flex;
}
#u28418 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28418_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28419_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28419 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:174px;
  width:56px;
  height:16px;
  display:flex;
}
#u28419 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28419_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28420_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28420 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:174px;
  width:56px;
  height:16px;
  display:flex;
}
#u28420 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28420_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28421_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28421 {
  border-width:0px;
  position:absolute;
  left:479px;
  top:174px;
  width:70px;
  height:16px;
  display:flex;
}
#u28421 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28421_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28422_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28422 {
  border-width:0px;
  position:absolute;
  left:602px;
  top:174px;
  width:70px;
  height:16px;
  display:flex;
}
#u28422 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28422_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28423_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28423 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:174px;
  width:56px;
  height:16px;
  display:flex;
}
#u28423 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28423_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28424_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28424 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:545px;
  width:56px;
  height:16px;
  display:flex;
}
#u28424 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28424_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28425_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28425 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:545px;
  width:56px;
  height:16px;
  display:flex;
}
#u28425 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28425_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28426_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28426 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:476px;
  width:56px;
  height:16px;
  display:flex;
}
#u28426 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28426_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28427_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28427 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:476px;
  width:70px;
  height:16px;
  display:flex;
}
#u28427 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28427_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28428_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28428 {
  border-width:0px;
  position:absolute;
  left:479px;
  top:476px;
  width:56px;
  height:16px;
  display:flex;
}
#u28428 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28428_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28429_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28429 {
  border-width:0px;
  position:absolute;
  left:602px;
  top:476px;
  width:56px;
  height:16px;
  display:flex;
}
#u28429 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28429_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28430_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28430 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:682px;
  width:56px;
  height:16px;
  display:flex;
}
#u28430 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28430_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28431_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28431 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:682px;
  width:56px;
  height:16px;
  display:flex;
}
#u28431 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28431_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28432_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28432 {
  border-width:0px;
  position:absolute;
  left:479px;
  top:682px;
  width:56px;
  height:16px;
  display:flex;
}
#u28432 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28432_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28433_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28433 {
  border-width:0px;
  position:absolute;
  left:602px;
  top:682px;
  width:56px;
  height:16px;
  display:flex;
}
#u28433 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28433_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28434_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28434 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:877px;
  width:56px;
  height:16px;
  display:flex;
}
#u28434 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28434_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28435_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28435 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:1069px;
  width:56px;
  height:16px;
  display:flex;
}
#u28435 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28435_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28436_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28436 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:1069px;
  width:56px;
  height:16px;
  display:flex;
}
#u28436 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28436_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28437_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28437 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:1069px;
  width:56px;
  height:16px;
  display:flex;
}
#u28437 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28437_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
