body {
  margin:0px;
  background-color:rgba(245, 245, 245, 1);
  background-image:none;
  position:relative;
  left:0px;
  width:1338px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u26123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1338px;
  height:1445px;
}
#u26123 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1338px;
  height:1445px;
  display:flex;
}
#u26123 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26123_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
