body {
  margin:0px;
  background-color:rgba(245, 245, 245, 1);
  background-image:none;
  position:relative;
  left:-9px;
  width:1303px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u29535_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1015px;
  height:1154px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29535 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:190px;
  width:1015px;
  height:1154px;
  display:flex;
}
#u29535 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29535_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29536 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:263px;
  width:454px;
  height:32px;
}
#u29536_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:32px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u29537 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:32px;
}
#u29538_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:32px;
}
#u29538 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:32px;
  display:flex;
}
#u29538 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29538_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29539_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:32px;
}
#u29539 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:0px;
  width:224px;
  height:32px;
  display:flex;
  font-size:14px;
}
#u29539 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29539_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29540 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29541 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:374px;
  width:454px;
  height:26px;
}
#u29541_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:26px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u29542 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:26px;
}
#u29543_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:26px;
}
#u29543 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:26px;
  display:flex;
}
#u29543 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29543_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29544_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:26px;
}
#u29544 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:0px;
  width:227px;
  height:26px;
  display:flex;
}
#u29544 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29544_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29545_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u29545 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:341px;
  width:84px;
  height:16px;
  display:flex;
  font-family:'Arial Negreta', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u29545 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u29545_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u29546 {
  border-width:0px;
  position:absolute;
  left:663px;
  top:374px;
  width:454px;
  height:26px;
}
#u29546_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:26px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u29547 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:26px;
}
#u29548_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:26px;
}
#u29548 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:26px;
  display:flex;
}
#u29548 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29548_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29549_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:26px;
}
#u29549 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:0px;
  width:227px;
  height:26px;
  display:flex;
}
#u29549 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29549_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29550 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:400px;
  width:454px;
  height:26px;
}
#u29550_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:26px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u29551 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:26px;
}
#u29552_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:26px;
}
#u29552 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:26px;
  display:flex;
}
#u29552 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29552_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29553_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:26px;
}
#u29553 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:0px;
  width:227px;
  height:26px;
  display:flex;
}
#u29553 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29553_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29554 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:1102px;
  width:454px;
  height:26px;
}
#u29554_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:26px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u29555 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:26px;
}
#u29556_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:26px;
}
#u29556 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:26px;
  display:flex;
}
#u29556 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29556_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29557_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:26px;
}
#u29557 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:0px;
  width:227px;
  height:26px;
  display:flex;
}
#u29557 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29557_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29558_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u29558 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:239px;
  width:42px;
  height:16px;
  display:flex;
  font-family:'Arial Negreta', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u29558 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u29558_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u29559 {
  border-width:0px;
  position:absolute;
  left:663px;
  top:263px;
  width:454px;
  height:32px;
}
#u29559_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:32px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u29560 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:32px;
}
#u29561_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:32px;
}
#u29561 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:32px;
  display:flex;
}
#u29561 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29561_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29562_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:32px;
}
#u29562 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:0px;
  width:225px;
  height:32px;
  display:flex;
  font-size:14px;
}
#u29562 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29562_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29563_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:908px;
  height:523px;
}
#u29563 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:561px;
  width:908px;
  height:523px;
  display:flex;
}
#u29563 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29563_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29564 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:295px;
  width:454px;
  height:32px;
}
#u29564_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:32px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u29565 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:32px;
}
#u29566_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:32px;
}
#u29566 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:32px;
  display:flex;
}
#u29566 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29566_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29567_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:32px;
}
#u29567 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:0px;
  width:225px;
  height:32px;
  display:flex;
  font-size:14px;
}
#u29567 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29567_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29568 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29569_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29569 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:1235px;
  width:98px;
  height:16px;
  display:flex;
}
#u29569 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u29569_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u29570_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:2px;
}
#u29570 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:1252px;
  width:122px;
  height:1px;
  display:flex;
}
#u29570 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29570_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29571_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29571 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:1235px;
  width:28px;
  height:16px;
  display:flex;
}
#u29571 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u29571_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u29572_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:2px;
}
#u29572 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:1252px;
  width:160px;
  height:1px;
  display:flex;
}
#u29572 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29572_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29573 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29574_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29574 {
  border-width:0px;
  position:absolute;
  left:694px;
  top:1235px;
  width:98px;
  height:16px;
  display:flex;
}
#u29574 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u29574_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u29575_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:2px;
}
#u29575 {
  border-width:0px;
  position:absolute;
  left:803px;
  top:1252px;
  width:120px;
  height:1px;
  display:flex;
}
#u29575 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29575_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29576_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29576 {
  border-width:0px;
  position:absolute;
  left:933px;
  top:1235px;
  width:28px;
  height:16px;
  display:flex;
}
#u29576 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u29576_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u29577_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:2px;
}
#u29577 {
  border-width:0px;
  position:absolute;
  left:963px;
  top:1252px;
  width:154px;
  height:1px;
  display:flex;
}
#u29577 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29577_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29578_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:1302px;
  height:78px;
}
#u29578 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:1300px;
  height:76px;
  display:flex;
}
#u29578 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29578_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29579_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:1438px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29579 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:80px;
  height:1438px;
  display:flex;
}
#u29579 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29579_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29580_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:40px;
}
#u29580 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:90px;
  width:1220px;
  height:40px;
  display:flex;
}
#u29580 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29580_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29581_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:18px;
}
#u29581 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:101px;
  width:15px;
  height:18px;
  display:flex;
}
#u29581 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29581_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29582_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29582 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:103px;
  width:47px;
  height:16px;
  display:flex;
}
#u29582 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u29582_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u29583_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:76px;
}
#u29583 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:10px;
  width:80px;
  height:76px;
  display:flex;
}
#u29583 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29583_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29584_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29584 {
  border-width:0px;
  position:absolute;
  left:597px;
  top:1284px;
  width:140px;
  height:40px;
  display:flex;
}
#u29584 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29584_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29585_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29585 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:1147px;
  width:56px;
  height:16px;
  display:flex;
}
#u29585 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u29585_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u29586_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:909px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29586 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:1175px;
  width:909px;
  height:48px;
  display:flex;
}
#u29586 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u29586_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
