body {
  margin:0px;
  background-color:rgba(245, 245, 245, 1);
  background-image:none;
  position:relative;
  left:0px;
  width:1460px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8809_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1460px;
  height:1393px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8809 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:1460px;
  height:1393px;
  display:flex;
}
#u8809 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8809_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8810_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:1442px;
  height:78px;
}
#u8810 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:0px;
  width:1440px;
  height:76px;
  display:flex;
}
#u8810 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8810_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8811_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:1379px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8811 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:0px;
  width:80px;
  height:1379px;
  display:flex;
}
#u8811 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8811_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8812_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1360px;
  height:40px;
}
#u8812 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:80px;
  width:1360px;
  height:40px;
  display:flex;
}
#u8812 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8812_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8813_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1360px;
  height:1259px;
}
#u8813 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:125px;
  width:1360px;
  height:1259px;
  display:flex;
}
#u8813 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8813_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8814_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:76px;
}
#u8814 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:76px;
  display:flex;
}
#u8814 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8814_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8815_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u8815 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:92px;
  width:56px;
  height:16px;
  display:flex;
  font-family:'Arial Negreta', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u8815 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8815_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8816_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u8816 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:92px;
  width:9px;
  height:16px;
  display:flex;
  font-family:'Arial Negreta', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u8816 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8816_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8817 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8818_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#399DEE;
}
#u8818 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:92px;
  width:56px;
  height:16px;
  display:flex;
  font-family:'Arial Negreta', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#399DEE;
}
#u8818 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8818_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8819_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#399DEE;
}
#u8819 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:92px;
  width:9px;
  height:16px;
  display:flex;
  font-family:'Arial Negreta', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#399DEE;
}
#u8819 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8819_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8820_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:108px;
  height:5px;
}
#u8820 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:118px;
  width:105px;
  height:2px;
  display:flex;
}
#u8820 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8820_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8821_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:1384px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8821 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:1384px;
  display:flex;
}
#u8821 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8821_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8822_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:68px;
}
#u8822 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:68px;
  display:flex;
}
#u8822 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8822_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8823_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:18px;
}
#u8823 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:91px;
  width:15px;
  height:18px;
  display:flex;
}
#u8823 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8823_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8824_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1196px;
  height:785px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8824 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:140px;
  width:1196px;
  height:785px;
  display:flex;
}
#u8824 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8824_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8825 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8826_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:617px;
  height:256px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8826 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:663px;
  width:617px;
  height:256px;
  display:flex;
}
#u8826 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8826_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8827_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8827 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:838px;
  width:122px;
  height:44px;
  display:flex;
}
#u8827 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8827_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8828_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:44px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8828 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:838px;
  width:122px;
  height:44px;
  display:flex;
  color:#FFFFFF;
}
#u8828 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8828_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8829 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8830_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8830 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:724px;
  width:580px;
  height:78px;
  display:flex;
}
#u8830 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8830_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8831_input {
  position:absolute;
  left:0px;
  top:0px;
  width:558px;
  height:67px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u8831_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:558px;
  height:67px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u8831_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:558px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8831 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:728px;
  width:558px;
  height:67px;
  display:flex;
}
#u8831 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8831_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:558px;
  height:67px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8831.disabled {
}
#u8832_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8832 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:690px;
  width:56px;
  height:16px;
  display:flex;
}
#u8832 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8832_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8833 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:654px;
  width:917px;
  height:132px;
}
#u8834_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:30px;
}
#u8834 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:30px;
  display:flex;
  font-size:14px;
}
#u8834 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8834_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8835_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:30px;
}
#u8835 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:0px;
  width:183px;
  height:30px;
  display:flex;
  font-size:14px;
}
#u8835 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8835_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8836_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:30px;
}
#u8836 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:0px;
  width:183px;
  height:30px;
  display:flex;
  font-size:14px;
}
#u8836 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8836_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:30px;
}
#u8837 {
  border-width:0px;
  position:absolute;
  left:549px;
  top:0px;
  width:183px;
  height:30px;
  display:flex;
  font-size:14px;
}
#u8837 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8837_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:30px;
}
#u8838 {
  border-width:0px;
  position:absolute;
  left:732px;
  top:0px;
  width:185px;
  height:30px;
  display:flex;
  font-size:14px;
}
#u8838 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8838_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:36px;
}
#u8839 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:183px;
  height:36px;
  display:flex;
  font-size:14px;
}
#u8839 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8839_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:36px;
}
#u8840 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:30px;
  width:183px;
  height:36px;
  display:flex;
}
#u8840 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8840_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:36px;
}
#u8841 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:30px;
  width:183px;
  height:36px;
  display:flex;
}
#u8841 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8841_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:36px;
}
#u8842 {
  border-width:0px;
  position:absolute;
  left:549px;
  top:30px;
  width:183px;
  height:36px;
  display:flex;
}
#u8842 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8842_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:36px;
}
#u8843 {
  border-width:0px;
  position:absolute;
  left:732px;
  top:30px;
  width:185px;
  height:36px;
  display:flex;
}
#u8843 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8843_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:36px;
}
#u8844 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:66px;
  width:183px;
  height:36px;
  display:flex;
  font-size:14px;
}
#u8844 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8844_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:36px;
}
#u8845 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:66px;
  width:183px;
  height:36px;
  display:flex;
}
#u8845 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8845_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:36px;
}
#u8846 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:66px;
  width:183px;
  height:36px;
  display:flex;
}
#u8846 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8846_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:36px;
}
#u8847 {
  border-width:0px;
  position:absolute;
  left:549px;
  top:66px;
  width:183px;
  height:36px;
  display:flex;
}
#u8847 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8847_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:36px;
}
#u8848 {
  border-width:0px;
  position:absolute;
  left:732px;
  top:66px;
  width:185px;
  height:36px;
  display:flex;
}
#u8848 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8848_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:30px;
}
#u8849 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:102px;
  width:183px;
  height:30px;
  display:flex;
  font-size:14px;
}
#u8849 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8849_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8850_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:30px;
}
#u8850 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:102px;
  width:183px;
  height:30px;
  display:flex;
}
#u8850 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8850_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:30px;
}
#u8851 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:102px;
  width:183px;
  height:30px;
  display:flex;
}
#u8851 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8851_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8852_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:30px;
}
#u8852 {
  border-width:0px;
  position:absolute;
  left:549px;
  top:102px;
  width:183px;
  height:30px;
  display:flex;
}
#u8852 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8852_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:30px;
}
#u8853 {
  border-width:0px;
  position:absolute;
  left:732px;
  top:102px;
  width:185px;
  height:30px;
  display:flex;
  color:#0066FF;
}
#u8853 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8853_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8854_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8854 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:613px;
  width:56px;
  height:16px;
  display:flex;
}
#u8854 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8854_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8855 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8856_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:8px;
  background:inherit;
  background-color:rgba(0, 102, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8856 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:557px;
  width:188px;
  height:8px;
  display:flex;
}
#u8856 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8856_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:33px;
}
#u8857 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:544px;
  width:31px;
  height:33px;
  display:flex;
  color:#FFFFFF;
}
#u8857 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8857_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8858_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:33px;
}
#u8858 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:545px;
  width:31px;
  height:33px;
  display:flex;
  color:#FFFFFF;
}
#u8858 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8858_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8859_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:8px;
  background:inherit;
  background-color:rgba(0, 102, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8859 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:557px;
  width:188px;
  height:8px;
  display:flex;
}
#u8859 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8859_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8860_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:33px;
}
#u8860 {
  border-width:0px;
  position:absolute;
  left:577px;
  top:545px;
  width:31px;
  height:33px;
  display:flex;
  color:#FFFFFF;
}
#u8860 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8860_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8861_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:8px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8861 {
  border-width:0px;
  position:absolute;
  left:609px;
  top:557px;
  width:188px;
  height:8px;
  display:flex;
}
#u8861 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8861_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8862_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:33px;
}
#u8862 {
  border-width:0px;
  position:absolute;
  left:797px;
  top:545px;
  width:31px;
  height:33px;
  display:flex;
  color:#FFFFFF;
}
#u8862 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8862_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8863_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:8px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8863 {
  border-width:0px;
  position:absolute;
  left:828px;
  top:557px;
  width:188px;
  height:8px;
  display:flex;
}
#u8863 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8863_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8864_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:33px;
}
#u8864 {
  border-width:0px;
  position:absolute;
  left:1016px;
  top:545px;
  width:31px;
  height:33px;
  display:flex;
  color:#FFFFFF;
}
#u8864 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8864_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8865_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1199px;
  height:2px;
}
#u8865 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:543px;
  width:1198px;
  height:1px;
  display:flex;
}
#u8865 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8865_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8866_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8866 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:265px;
  width:173px;
  height:18px;
  display:flex;
}
#u8866 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8866_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8867_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8867 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:341px;
  width:94px;
  height:16px;
  display:flex;
}
#u8867 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8867_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8868_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8868 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:300px;
  width:70px;
  height:16px;
  display:flex;
}
#u8868 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8868_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8869_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8869 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:239px;
  width:98px;
  height:16px;
  display:flex;
}
#u8869 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8869_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8870_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u8870 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:181px;
  width:206px;
  height:16px;
  display:flex;
  color:#000000;
}
#u8870 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8870_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8871 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8872_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8872 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:207px;
  width:131px;
  height:16px;
  display:flex;
}
#u8872 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8872_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8873_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8873 {
  border-width:0px;
  position:absolute;
  left:454px;
  top:207px;
  width:183px;
  height:16px;
  display:flex;
}
#u8873 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8873_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8874_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8874 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:207px;
  width:80px;
  height:16px;
  display:flex;
}
#u8874 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8874_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8875_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8875 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:378px;
  width:231px;
  height:18px;
  display:flex;
}
#u8875 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8875_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8876_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8876 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:467px;
  width:211px;
  height:16px;
  display:flex;
}
#u8876 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8876_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8877_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u8877 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:300px;
  width:39px;
  height:15px;
  display:flex;
  font-size:13px;
}
#u8877 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8877_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8878_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u8878 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:300px;
  width:39px;
  height:15px;
  display:flex;
  font-size:13px;
}
#u8878 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8878_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8879_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u8879 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:300px;
  width:39px;
  height:15px;
  display:flex;
  font-size:13px;
}
#u8879 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8879_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8880_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u8880 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:300px;
  width:39px;
  height:15px;
  display:flex;
  font-size:13px;
}
#u8880 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8880_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8881_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u8881 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:300px;
  width:39px;
  height:15px;
  display:flex;
  font-size:13px;
}
#u8881 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8881_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8882_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8882 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:413px;
  width:123px;
  height:16px;
  display:flex;
}
#u8882 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8882_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8883_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8883 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:439px;
  width:211px;
  height:16px;
  display:flex;
}
#u8883 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8883_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8884_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u8884 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:493px;
  width:28px;
  height:16px;
  display:flex;
  font-family:'Arial Negreta', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u8884 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8884_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:41px;
}
#u8885 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:493px;
  width:91px;
  height:41px;
  display:flex;
}
#u8885 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8885_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8886_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8886 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:515px;
  width:32px;
  height:20px;
  display:flex;
}
#u8886 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8886_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
