body {
  margin:0px;
  background-color:rgba(245, 245, 245, 1);
  background-image:none;
  position:relative;
  left:-9px;
  width:1303px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u29052_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1015px;
  height:1059px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29052 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:190px;
  width:1015px;
  height:1059px;
  display:flex;
}
#u29052 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29052_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29053 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:263px;
  width:454px;
  height:32px;
}
#u29053_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:32px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u29054 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:32px;
}
#u29055_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:32px;
}
#u29055 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:32px;
  display:flex;
}
#u29055 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29055_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29056_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:32px;
}
#u29056 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:0px;
  width:224px;
  height:32px;
  display:flex;
  font-size:14px;
}
#u29056 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29056_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29057 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29058 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:374px;
  width:454px;
  height:26px;
}
#u29058_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:26px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u29059 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:26px;
}
#u29060_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:26px;
}
#u29060 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:26px;
  display:flex;
}
#u29060 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29060_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29061_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:26px;
}
#u29061 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:0px;
  width:227px;
  height:26px;
  display:flex;
}
#u29061 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29061_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29062_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u29062 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:341px;
  width:84px;
  height:16px;
  display:flex;
  font-family:'Arial Negreta', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u29062 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u29062_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u29063 {
  border-width:0px;
  position:absolute;
  left:663px;
  top:374px;
  width:454px;
  height:26px;
}
#u29063_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:26px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u29064 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:26px;
}
#u29065_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:26px;
}
#u29065 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:26px;
  display:flex;
}
#u29065 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29065_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29066_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:26px;
}
#u29066 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:0px;
  width:227px;
  height:26px;
  display:flex;
}
#u29066 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29066_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29067 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:400px;
  width:454px;
  height:26px;
}
#u29067_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:26px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u29068 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:26px;
}
#u29069_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:26px;
}
#u29069 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:26px;
  display:flex;
}
#u29069 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29069_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29070_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:26px;
}
#u29070 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:0px;
  width:227px;
  height:26px;
  display:flex;
}
#u29070 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29070_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29071 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:1102px;
  width:454px;
  height:26px;
}
#u29071_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:26px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u29072 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:26px;
}
#u29073_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:26px;
}
#u29073 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:26px;
  display:flex;
}
#u29073 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29073_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29074_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:26px;
}
#u29074 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:0px;
  width:227px;
  height:26px;
  display:flex;
}
#u29074 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29074_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29075_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u29075 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:239px;
  width:42px;
  height:16px;
  display:flex;
  font-family:'Arial Negreta', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u29075 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u29075_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u29076 {
  border-width:0px;
  position:absolute;
  left:663px;
  top:263px;
  width:454px;
  height:32px;
}
#u29076_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:32px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u29077 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:32px;
}
#u29078_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:32px;
}
#u29078 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:32px;
  display:flex;
}
#u29078 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29078_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29079_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:32px;
}
#u29079 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:0px;
  width:225px;
  height:32px;
  display:flex;
  font-size:14px;
}
#u29079 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29079_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29080_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:908px;
  height:523px;
}
#u29080 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:561px;
  width:908px;
  height:523px;
  display:flex;
}
#u29080 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29080_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29081 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:295px;
  width:454px;
  height:32px;
}
#u29081_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:32px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u29082 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:32px;
}
#u29083_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:32px;
}
#u29083 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:32px;
  display:flex;
}
#u29083 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29083_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29084_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:32px;
}
#u29084 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:0px;
  width:225px;
  height:32px;
  display:flex;
  font-size:14px;
}
#u29084 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29084_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29085 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29086_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29086 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:1153px;
  width:98px;
  height:16px;
  display:flex;
}
#u29086 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u29086_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u29087_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:2px;
}
#u29087 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:1170px;
  width:122px;
  height:1px;
  display:flex;
}
#u29087 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29087_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29088_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29088 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:1153px;
  width:28px;
  height:16px;
  display:flex;
}
#u29088 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u29088_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u29089_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:2px;
}
#u29089 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:1170px;
  width:160px;
  height:1px;
  display:flex;
}
#u29089 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29089_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29090 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29091_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29091 {
  border-width:0px;
  position:absolute;
  left:694px;
  top:1153px;
  width:98px;
  height:16px;
  display:flex;
}
#u29091 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u29091_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u29092_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:2px;
}
#u29092 {
  border-width:0px;
  position:absolute;
  left:803px;
  top:1170px;
  width:120px;
  height:1px;
  display:flex;
}
#u29092 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29092_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29093_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29093 {
  border-width:0px;
  position:absolute;
  left:933px;
  top:1153px;
  width:28px;
  height:16px;
  display:flex;
}
#u29093 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u29093_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u29094_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:2px;
}
#u29094 {
  border-width:0px;
  position:absolute;
  left:963px;
  top:1170px;
  width:154px;
  height:1px;
  display:flex;
}
#u29094 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29094_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29095_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:1302px;
  height:78px;
}
#u29095 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:1300px;
  height:76px;
  display:flex;
}
#u29095 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29095_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29096_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:1438px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29096 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:80px;
  height:1438px;
  display:flex;
}
#u29096 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29096_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29097_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:40px;
}
#u29097 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:90px;
  width:1220px;
  height:40px;
  display:flex;
}
#u29097 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29097_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29098_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:18px;
}
#u29098 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:101px;
  width:15px;
  height:18px;
  display:flex;
}
#u29098 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29098_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29099_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29099 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:103px;
  width:47px;
  height:16px;
  display:flex;
}
#u29099 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u29099_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u29100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:76px;
}
#u29100 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:10px;
  width:80px;
  height:76px;
  display:flex;
}
#u29100 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29100_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29101_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29101 {
  border-width:0px;
  position:absolute;
  left:592px;
  top:1193px;
  width:140px;
  height:40px;
  display:flex;
}
#u29101 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29101_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
